@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: #051544;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.2em;
  color: #7bf762;
}
